<div>
  <div ng-if="saving">
    <div ng-include="'components/quiz/partials/saveQuizPrompt.html'"></div>
  </div>
  <div class="buttons">
    <button ng-click="savePrompt()">Save Answers</button>
    <button ng-click="checkMyAnswers(questions, answers)">Check Answers</button>
    <button ng-click="reset()">Reset</button>
    <input name="checkAnswers" type="checkbox" ng-model="obj.instant" ng-click="checkForResults()">
    <label for="checkAnswers">Instant </label>
  </div>
  <question-list questions="questions" answers="answers" currentQuestion="currentQuestion" setCurrentQuestion="setCurrentQuestion()"></question-list>
</div>
