<div>
  <div ng-if="currentQuestion && currentQuestion.qtype === 'multiple'">
    <h2> {{currentQuestion.title}} </h2>
    <div>
      <div ng-repeat="choice in currentQuestion.choices">
        <input ng-checked="answers[question.id] === choice" ng-click="update(choice)" name="answer" type="radio"> {{ choice }}
        <br>
      </div>
    </div>
    <br />
    <button ng-disabled="isDisabled" class="saveBtn" ng-click="saveAnswer(choice)"> Save and Continue </button>
  </div>
</div>
<!-- fill in the blank -->


<div>
  <div ng-if="currentQuestion && currentQuestion.qtype === 'blank'">
    <h2> {{currentQuestion.title}} </h2>

    <br />
    <form ng-submit="saveAnswer(answer2)">
    <input ng-change="isDisabled = false" type="text" placeholder="Your answer here" ng-model="answer2"/>
  </form>
    <br />
    <button ng-disabled="isDisabled" class="saveBtn" ng-click="saveAnswer(answer2)"> Save and Continue </button>
  </div>
</div>
